nav {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    background-color: rgb(47, 44, 63);
    color: white;
}

.nav-bar {
    border: 2px solid black;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    width: 50vw;
    align-items: flex-end;
    font-size: 30px;
    padding-bottom: 20px;

}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 10%;
    height:10%
}
